@import "../../style/main.scss";

.container-infos {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    visibility: hidden;
    background-color: $success-color;
    &.container-infos.danger-color {
        background-color: $danger-color;
    }
    &.container-infos.success-color {
        background-color: $success-color;
    }
    &.container-infos.warning-color {
        background-color: $warning-color;
    }
    &.container-infos.primary-color {
        background-color: $primary-color;
    }
    border-radius: 15px;
    padding: 1rem 1.5rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    .infos {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
        color: $white;
    }
}
