@import "../../style/main.scss";

.container-success {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    visibility: hidden;
    background-color: $success-color;

    border-radius: 15px;
    padding: 1rem 1.5rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;

    .success {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
        color: $white;
    }
}
