@import "../../main.scss";

.container-home {
    .articles-container {
        max-width: 1024px;
        margin: auto;
        position: relative;

        .article-animation {
            transition: transform 0.5s ease;
            transform: translateY(0);
        }
        .article-animation.animate {
            transform: translateY(100%);
        }
        .new-article {
            position: static;
            width: 100%;
        }
        .ZoomOut {
            // transform: scale(0.5) ;
            transition: transform 0.5s ease;
        }
        .old-article01 {
            transform: translateY(296.52px + 32px) !important;
        }
        .article {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            padding: 1rem;
            background-color: $white;
            border-radius: 15px;

            opacity: 1;
            transform: translateY(0);
            // transition: opacity 0.5s ease, transform 0.5s ease;
            .btn-update {
                margin-top: 1rem;
                @include buttonPrimary($primary-color);
                border-radius: 15px;
            }
            .btn-delete {
                margin-top: 1rem;
                @include buttonPrimary($danger-color);
                border-radius: 15px;
            }
            .article-buttons {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
}
