@import "../../main.scss";

.container-home {
    .articles-container {
        max-width: 1024px;
        margin: auto;
        position: relative;
        .container-posts {
            background-color: $white;
            // border-radius: 1rem;
            // border-top: 1px solid $gray-light;
            .container-posts {
                .block-post {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    .block-post-author {
                        display: flex;
                        .post-date {
                            .date {
                                font-size: 1rem;
                                font-weight: 500;
                                color: $gray;
                            }
                            .author {
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 0.7rem;
                        }
                    }
                    .block-post-image {
                        img {
                            border-radius: 1.5rem;
                            width: 100%;
                            max-width: 600px;
                            height: 350px;
                        }
                    }
                    .block-post-buttons {
                        .btn-update {
                            @include buttonPrimary($color: $primary-color);
                            font-size: 0.7rem;
                            border-radius: 1rem;
                            margin-right: 1rem;
                        }
                        .btn-delete {
                            @include buttonPrimary($color: $danger-color);
                            font-size: 0.7rem;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }

        .article-animation {
            transition: transform 0.5s ease;
            transform: translateY(0);
        }
        .article-animation.animate {
            transform: translateY(100%);
        }
        .new-article {
            position: static;
            width: 100%;
        }
        .ZoomOut {
            // transform: scale(0.5) ;
            transition: transform 0.5s ease;
        }
        .old-article01 {
            transform: translateY(296.52px + 32px) !important;
        }
        .article {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            padding: 1rem;
            background-color: $white;
            border-radius: 15px;

            opacity: 1;
            transform: translateY(0);
            // transition: opacity 0.5s ease, transform 0.5s ease;
            .btn-update {
                margin-top: 1rem;
                @include buttonPrimary($primary-color);
                border-radius: 15px;
            }
            .btn-delete {
                margin-top: 1rem;
                @include buttonPrimary($danger-color);
                border-radius: 15px;
            }
            .article-buttons {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
}
