@import "../../main.scss";

.container-home {
    .articles-container {
        .article {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            padding: 1rem;
            background-color: $white;
            border-radius: 5px;
            transition: transform 0.3s;
            button {
                margin-top: 1rem;
                @include buttonPrimary($primary-color);
            }
            .article-buttons {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
h1 {
    margin-top: 0;
}
