@import "../../variables.scss";

.home {
    background-color: $secondary-color;
    min-height: calc(100vh - 60px - 2rem);
    padding: 1rem;
    .container-home {
        margin-top: 60px !important;
        margin: auto;
        .ZoomIn {
            transform: scale(0.5) !important;
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out !important;
            opacity: 0 !important;
            visibility: 0.5s ease-in-out;
        }
    }
}
