@import "../../variables.scss";

.home {
    background-color: $secondary-color;
    min-height: calc(100vh - 60px - 2rem);
    padding: 1rem;
    .container-home {
        margin: auto;
    }
    .ZoomOut {
        animation: ZoomOut 1s;
        z-index: -100;
    }
}
