@import "../../main.scss";
.blur-effect {
    filter: blur(5px); // Ajustez la valeur pour l'effet de flou souhaité
    // pointer-events: none; // Permet de cliquer sur les éléments situés en dessous
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); // Ajustez la couleur et la transparence souhaitées
    z-index: 999; // Assurez-vous que le z-index est supérieur à celui de la fenêtre popup
}
.button-comment {
    border: none;
    cursor: pointer;
    background-color: $primary-color;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    width: 20px;
    height: 20px;
    fill: $white;
    stroke: white;
    border: 1px solid $primary-color;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}
.container-popup {
    .container-close {
        padding: 0.2rem 1rem;
        display: flex;
        align-items: center;
        backdrop-filter: blur(12px);
        background-color: rgba(255, 255, 255, 0.85);
        height: 58px;
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2rem - 9px);
        h2 {
            margin: 0;
            margin-left: 3rem;
            font-size: 1.4rem;
        }
        .close {
            width: 20px;
            height: 20px;
            cursor: pointer;
            fill: $white;
            color: $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $danger-color;
            }
        }
    }
    .popup {
        position: relative;

        .popup-content {
            overflow-y: auto;
            .popup-content-edit {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;

                .author {
                    margin-top: calc(58px + 0.2rem);
                    display: flex;
                    align-items: center;
                    a {
                        display: flex;
                        align-items: center;
                    }
                    .author-avatar {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 0.7rem;
                    }
                    .dot {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $primary-color;
                        margin: 0 0.5rem;
                    }
                }
                .edit {
                    margin-top: calc(58px + 0.2rem);
                    width: 30px;
                    height: 30px;
                    color: $primary-color;
                    cursor: pointer;
                    z-index: 3000;
                    &:hover {
                        color: darken($primary-color, 10%);
                    }
                }
            }
            h1 {
                margin-top: calc(58px + 0.2rem);
            }
            &::-webkit-scrollbar {
                width: 8px;
                background: transparent;
                border-radius: 99rem;
                z-index: 2000;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $primary-color;
                border-radius: 4px;
                z-index: 2000;
            }
            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
                border-radius: 0 10px 10px 0;
                z-index: 2000;
            }
        }
        padding: 1px;
        position: fixed;
        height: 85vh;
        top: 50%;
        left: 50%;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
            visibility 0.5s ease-in-out;

        transform: translate(-50%, -50%) scale(0.2);
        width: 100%;
        max-width: 680px;
        z-index: 1000;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;
        overflow: hidden;
        .popup-article-container {
            padding: 1rem;
        }
        .popup-article {
            display: flex;
            flex-direction: column;
       
            border-bottom: 1px solid $primary-color;
            .title {
                font-size: 1.5rem;
                margin: 0;
            }
            .date {
                color: $gray-dark-light;
            }
        }

        .btn {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;
        }
        button {
            @include buttonPrimary($primary-color);
        }
        input {
            @include inputPrimary($primary-color);
            margin-bottom: 1rem;
        }
        textarea {
            @include inputPrimary($primary-color);
            resize: none;
            height: auto;
        }
        .post-description {
            @include inputPrimary($primary-color);
            margin-bottom: 1rem;
            resize: none;
            height: 200px;
            padding: 1rem;
        }
        .container-comments {
            // width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .add-comment {
                display: flex;
                textarea {
                    padding: 0.5rem;
                }
                flex-direction: column;
                position: relative;
                border-bottom: 1px solid $primary-color;
                .comment {
                    height: 100px;
                    border: none;
                    padding: 0 2rem;
                    padding-top: 1rem;
                }
                .btn-comment {
                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    stroke: $primary-color;
                    &:hover {
                        stroke: darken($primary-color, 10%);
                    }
                }
            }
            .block-comment {
                border-bottom: 1px solid $primary-color;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-bottom: 1rem;
                padding: 1rem;
                .block-comment-content {
                    padding: 0 1rem;
                }
                .author {
                    display: flex;
                    // align-items: center;
                    flex-direction: column;

                    .author-left {
                        display: flex;
                        align-items: center;
                        .date {
                            color: $gray-dark-light;
                        }
                    }
                    .author-right {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        gap: 1rem;
                        svg {
                            cursor: pointer;
                            width: 30px;
                        }
                        .delete {
                            color: $danger-color;
                            &:hover {
                                color: darken($danger-color, 10%);
                            }
                        }
                        .edit {
                            color: $primary-color;
                            &:hover {
                                color: darken($primary-color, 10%);
                            }
                        }
                    }
                    .author-name {
                        margin-right: 0.25rem;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 0.7rem;
                    }
                }
                .text-area {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    textarea {
                        height: 100px;
                    }
                    .edit {
                        position: absolute;
                        right: 1rem;
                        bottom: 1rem;
                    }
                }
            }
        }
    }
    .popup.active {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
    .close.active {
        position: absolute;
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (min-width: 768px) {
    .container-popup {
        .popup.active {
            height: 85vh;
            width: 100%;
            max-width: 800px;
            border-radius: 10px;
        }
        .popup {
            .container-comments {
                .block-comment {
                    .author {
                        display: flex;
                        flex-direction: row;
                        .author-left {
                            width: 80%;
                        }
                        .author-right {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}
