@import "../../../style/variables.scss";
.home {
    background-color: $secondary-color;
    min-height: calc(100vh - 60px - 2rem);
    padding: 1rem;
    .container-home {
        padding: 1rem;
        background-color: $white;
        border-radius: 10px;
    }
    h1 {
        margin-top: 0;
    }
}
