@import "../../variables.scss";
.profile {
    background-color: $secondary-color;
    min-height: calc(100vh - 60px - 2rem);
    padding: 1rem;
    .container-profile {
        padding: 1rem;
        background-color: $white;
        border-radius: 10px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    h1 {
        margin-top: 0;
    }
}
